* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    padding: 20px;
    margin-top: 20px;
    border: lightgrey;
    background-color: lightgrey;
}

.today {
    text-align: center;
    font-size: 15pt;
    color: black;
    margin: 10px 0;
    padding: 10px;
}

.textday {
    color: green;
    font-weight: bold;
}

.content {
    justify-content: center;
    display: flex;
    background-color: darkgrey;
}

.day {
    font-size: 15pt;
    font-style: bold;
    color: white;
    padding: 10px;
    width: 13%;
    margin: 10px;
    text-align: center;
    background-color: #00abf0;
    cursor: pointer;
}

.day.currentday {
    background-color: green;
}

.day.selected {
    border: 2px solid white;
    box-shadow: 2px 2px;
}

#daySelected span {
    font-weight: bold;
    color: #00abf0;
}